@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');
@import
url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");
/*makes padding a lot more easier*/

*{
box-sizing:border-box;
}
.main-title{
color: black;
}
#image{
   border-radius: 50%;
   width: 130px;
   height: 130px;
   margin-top: 10px;
   margin-left: 10px; 
}
#skills{
  height: 100vh;
}
h1{
    margin-top: 5%;
    font-family: 'Spectral SC', serif;
}
.left-side{
  float: left;
  background-color: #f0f8ff;
  margin-left: 6%;
  width: 280px;
  height: 100vh;
  text-align: center;
  position: fixed;
}
.right-side{
  float: right;
  margin-right: -10px;
  height: 100vh;
}
#skl{
  font-size: 20px;
}
body{
margin:0;
font-family:'Raleway',san-serif;
}
/*making images responsive*/
.container{
width: 95%;
margin:0 auto;
}
/*typography*/
.title{
font-size: 2rem;
margin-bottom: 1.5em;
}
.title span{
font-weight: 300;
display: block;
font-size: .9em;
}
nav{
float: right;
margin-right: 80px;
font-weight: normal;
}
.title{
font-size: 3.7rem;
}
nav ul{
margin: 0;
padding: 0;
list-style: none;
}
nav li{
display: inline-block;
margin: 1em;
}
nav a{
text-decoration: none;
text-transform: uppercase;
font-size: 13px;
padding: .5em;
color: black;
}
nav a:hover,
nav a:active,
nav a:focus{
color: #87ceeb;
}
/*home*/
.home{
padding: 10em 0;
color: black;
}
#call{
height: 100px;
}
.text-center{
background-size: cover;
position: center;
}
#after_submit{
visibility: hidden;
}
div#test{ border:#000 1px solid; padding:10px 40px 40px 40px; }

#container{
width: 100%;
height: 100vh;

}
#container div{
position: relative;
width: 100%;
height: 100vh;
}
#name{
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
}
h3{
  color: black;
  font-family: Comfortaa;
  font-size: 50px;
  float: left;
  margin-left: 5%;
  margin-top: 20%;
}
#hy{
  color: black;
  font-family: Comfortaa;
  font-size: 30px;
}
#slider{
  height: 100vh;
  background-image: url("images/image3.jpeg");
  background-size: cover;
  height: 100vh;
  animation: slide 20s infinite;
  background-position: center;
  width: 900px;

}
@keyframes slide{
 25%{
  background-image: url("images/image4.jpg");
 }
 50%{
background-image: url("images/image3.jpeg");
 }
 75%{
background-image: url("images/image4.jpg");

 }
100%{
background-image: url("images/image3.jpeg");
 }


}
#dsr{
  font-size: 18px;
}
.image1{
  height: 80px;
}

.app{
  height: 300px;
  width: 200px;
}
.app2{
  height: 300px;
  width: 450px;
}
.button{
display: inline-block;
font-size: 1.5rem;
text-decoration:none;
text-transform: uppercase;
border-width: 2px;
border-style: solid;
padding: .5em 1.75em;
}
.button-accent{
color: black;
border-color: black;
}
.button-accent:hover,
.button-accent:focus{
background:rgb(66, 64, 64);
color: #f0f8ff;
}

/* projects */
.data{
    width:1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.data .box{
    position: relative;
    width:280px;
    height: 300px;
    background: gray;
    margin:10px;
    box-sizing: border-box;
    display: inline-block;
    color: white;
}

.data .box .imgBox{
    position: relative;
    overflow: hidden;
}
.data .box .imgBox img{
    max-width: 100%;
    transition: transform 2s;
    height: 300px;

}
.data .box:hover .imgBox img{
    transform: scale(1.2);
}

.data .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom:10px;
    right: 10px;
}
.form{
    float: right;
    margin-left: 300px;
    margin-right: 300px;
}
.content{
    background-color: black;
    opacity: 0.6;
    margin-top: 100px;
    width: 100px;
}
.heading{
    float: left;
    font-family: 'Pacifico', cursive;
    margin-left: 120px;
}
.heading3{
    font-family: 'Economica', sans-serif;
    text-align: center;
    font-size: 50px;
}
#info{
    text-align: center;
    font-family: 'Economica', sans-serif;
    font-size: 25px;

}
.info{
    background-color: black;
    opacity: 0.8;
    color: white;
    border-radius: 12px;
    width: 500px;
    margin-left: 400px;
}

/* PROGRESS BARS */


li {

    width: 50%;
    float: left;
    list-style-type: none;
    
    padding-right: 5.3333333%;
}

li:nth-child(even) { margin-bottom: 5em;}

h2 {
    margin: 0 0 1.5em;
    border-bottom: 1px solid #ccc;
    
    padding: 0 0 .25em;
}

progress:not(value) {
}
progress[value] {
    appearance: none;
    
    border: none;
    
 
    width: 100%; height: 20px;
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    color: royalblue;
    
    position: relative;
    margin: 0 0 1.5em; 
}

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
    position: relative;
    
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
    animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }
progress[value]::-webkit-progress-value:after {
    content: '';
    position: absolute;
    
    width:5px; height:5px;
    top:7px; right:7px;
    
    background-color: white;
    border-radius: 100%;
}
progress[value]::-moz-progress-bar {
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);
    
    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;
    
}
.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    width: 100%; height:20px;
}

.progress-bar span {
    background-color: royalblue;
    border-radius: 3px;
    
    display: block;
    text-indent: -9999px;
}

p[data-value] { 
  
  position: relative; 
}


p[data-value]:after {
    content: attr(data-value) '%';
    position: absolute; right:0;
}





.html5::-webkit-progress-value,
.python::-webkit-progress-value  {
    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #f44);
}

.css3::-webkit-progress-value,
.php::-webkit-progress-value,
.c::-webkit-progress-value
{
    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #ff0);
}

.jquery::-webkit-progress-value,
.node-js::-webkit-progress-value 
{
    background-image:
    -webkit-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -webkit-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -webkit-linear-gradient( left, #09c, #690);
}

.html5::-moz-progress-bar,
.c::-moz-progress-bar,
.php::-moz-progress-bar {
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #f44);
}

.css3::-moz-progress-bar,
.c::-moz-progress-bar,
.php::-moz-progress-bar {
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #ff0);
}

.jquery::-moz-progress-bar,
.node-js::-moz-progress-bar {
    background-image:
    -moz-linear-gradient( 135deg,
                                                     transparent,
                                                     transparent 33%,
                                                     rgba(0,0,0,.1) 33%,
                                                     rgba(0,0,0,.1) 66%,
                                                     transparent 66%),
    -moz-linear-gradient( top,
                                                        rgba(255, 255, 255, .25),
                                                        rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #09c, #690);
}