@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

@import
url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900");
/*makes padding a lot more easier*/

*{
box-sizing:border-box;
}
.main-title{
color: black;
}
#image{
   border-radius: 50%;
   width: 130px;
   height: 130px;
   margin-top: 10px;
   margin-left: 10px; 
}
#skills{
  height: 100vh;
}

.left-side{
  float: left;
  background-color: #f0f8ff;
  margin-left: 6%;
  width: 280px;
  height: 100vh;
  text-align: center;
  position: fixed;
}
.right-side{
  float: right;
  margin-right: -10px;
  height: 100vh;
}
#skl{
  font-size: 20px;
}
body{
margin:0;
font-family:'Raleway',san-serif;
}
/*making images responsive*/
.container{
width: 95%;
margin:0 auto;
}
/*typography*/
.title{
font-size: 2rem;
margin-bottom: 1.5em;
}
.title span{
font-weight: 300;
display: block;
font-size: .9em;
}
nav{
float: right;
margin-right: 80px;
font-weight: normal;
}
.title{
font-size: 3.7rem;
}
nav ul{
margin: 0;
padding: 0;
list-style: none;
}
nav li{
display: inline-block;
margin: 1em;
}
nav a{
text-decoration: none;
text-transform: uppercase;
font-size: 13px;
padding: .5em;
color: black;
}
nav a:hover,
nav a:active,
nav a:focus{
color: #87ceeb;
}
/*home*/
.home{
padding: 10em 0;
color: black;
}
#call{
height: 100px;
}
.text-center{
background-size: cover;
position: center;
}
#after_submit{
visibility: hidden;
}
div#test{ border:#000 1px solid; padding:10px 40px 40px 40px; }

#container{
width: 100%;
height: 100vh;

}
#container div{
position: relative;
width: 100%;
height: 100vh;
}
#name{
  font-size: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
}
h3{
  color: black;
  font-family: Comfortaa;
  font-size: 50px;
  float: left;
  margin-left: 5%;
  margin-top: 20%;
}
#hy{
  color: black;
  font-family: Comfortaa;
  font-size: 30px;
}
#slider{
  height: 100vh;
  background-image: url("images/image3.jpeg");
  background-size: cover;
  height: 100vh;
  animation: slide 20s infinite;
  background-position: center;
  width: 900px;

}
@keyframes slide{
 25%{
  background-image: url("images/image4.jpg");
 }
 50%{
background-image: url("images/image3.jpeg");
 }
 75%{
background-image: url("images/image4.jpg");

 }
100%{
background-image: url("images/image3.jpeg");
 }


}
#dsr{
  font-size: 20px;
}
.image1{
  height: 80px;
}
h1{
  text-decoration: underline;
}
.app{
  height: 300px;
  width: 200px;
}
.app2{
  height: 300px;
  width: 450px;
}
.button{
display: inline-block;
font-size: 1.5rem;
text-decoration:none;
text-transform: uppercase;
border-width: 2px;
border-style: solid;
padding: .5em 1.75em;
}
.button-accent{
color: black;
border-color: black;
}
.button-accent:hover,
.button-accent:focus{
background:rgb(49, 43, 43);
color: #f0f8ff;
}
